fieldset label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

fieldset {
  align-content: center;
  text-align: center;
  width: 400px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.605);
  border: none;
  border-radius: 5px;
}

#login-form {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85svh;
  padding-top: 100px;
}

fieldset legend {
  font-size: 1.5rem;
  font-family: Homenaje, 'Times New Roman', serif;
  text-align: center;
}

fieldset label,
#login-button {
  font-size: 1.3rem;
  font-family: Homenaje, 'Times New Roman', serif;
  align-items: center;
}

.login-note {
  font-size: 1rem;
  font-style: italic;
  letter-spacing: -1px;
  padding: 20px 15px 10px 15px;
  font-family: Poopins, 'Times New Roman', serif;
}

input {
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 10px;
  height: 25px;
  width: 200px;
  border: none;
  background-color: rgba(255, 255, 255, 0.452);
  color: black;
}


#login-button {
  padding: 5px 20px;
  border-radius: 15px;
  border: none;
  background-color: #ffffff7a;
}

#login-button:hover {
  background-color: #ffffff;
  /* color: rgb(0, 0, 0); */
}