.laporan-keuangan-content {
  height: 76.4vh;
  overflow: auto;
}

.laporan-keuangan-rt h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 50px 0 25px 0;
  font-size: 2.7rem;
  text-shadow: 2px 2px 2px #000000;
  font-family: Homenaje;
  font-weight: 300;
}

.laporan-keuangan {
  text-align: center;
}

@media (max-width: 767px) {
  .laporan-keuangan-content {
    max-height: 66vh;
    overflow: auto;
  }

  iframe {
    height: 500px;
    width: 400px;
    overflow: auto;
  }
}