#header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 15px 0;
  align-items: center;
  width: 100%;
  background-color: #DFD7BF;
  /* box shadow */
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.20);
  /* box shadow */
}

.header-sticky {
  position: fixed;
  top: 0;
}

#header-logo h1 {
  color: #3F2305;
  font-size: 2.3rem;
  font-family: Homenaje;
  font-weight: 500;
  letter-spacing: -1px;
}

.header-logo {
  border: 2px solid #3F2305;
  border-radius: 5px;
  margin: 5px;
  padding: 0;
  text-align: center;
}

.bg-logo-rt {
  background-color: #3F2305;
  color: #DFD7BF;
  padding-right: 10px;
  padding-left: 5px;
}

.bg-logo-ccr {
  padding: 0 10px 0 10px;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.172);
}

nav ul {
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  gap: 5px;
}

.dropdown:hover .dropdown-content {
  display: grid;
  padding: 10px 5px 5px 15px;
  background-color: #DFD7BF;
  border-radius: 10px;
  text-align: left;
  font-weight: 300;
}

.navbar ul {
  font-size: 1.2rem;
  list-style: none;
  gap: 10px;
  font-family: poppins;
  font-weight: 300;
}

nav li a:hover {
  color: #3F2305;
  transition: 0.2s ease-in;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  box-shadow: 0 4px 30px #3f230552;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.navbar ul a {
  text-decoration: none;
  color: #3F2305;
  padding: 0 10px;
}

.hide-menu {
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  #header {
    display: grid;
    text-align: center;
    justify-content: stretch;
    padding: 20px 10px;
  }

  #header-logo h1 {
    font-size: 1.8rem;
  }

  .logo-hideMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
  }

  .dropdown .disable-link {
    pointer-events: none;
    cursor: none;
    font-size: 1.3rem;
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 200;
  }

  .dropdown:hover .dropdown-content {
    padding: 0;
    font-weight: 200;
    padding-left: 10px;
    width: fit-content;
  }

  .nav-wrapper {
    text-align: left;
    align-items: center;
  }

  .navbar ul li:first-child {
    padding-top: 20px;
    font-size: 1.3rem;
  }

  .burger-menu ul {
    display: grid;
  }

  .burger-menu .dropdown-content {
    position: relative;
  }


  .hide-menu {
    display: block;
    background-color: #DFD7BF;
    transition: all 0.3s ease-in-out;
    font-size: 2rem;
  }

  .nav-wrapper {
    display: none;
  }

  .nav-wrapper.is-open {
    display: block;
  }
}

@media only screen and (max-width: 343px) {
  #header-logo h1 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1114px) {
  #header-logo h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 799px) and (max-width: 835px) {
  .struktur-content {
    min-height: 94vh;
  }
}