.struktur-content {
  padding-top: 125px;
}

.struktur-organisasi h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px #000000;
  font-family: Homenaje;
  font-weight: 500;
}

.struktur-container {
  text-align: center;
}

.struktur-pp-rt img {
  height: 145px;
  width: 145px;
  border-radius: 50%;
  /* box shadow*/
  box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.36);
  /* box shadow*/
}

.struktur-pp-wakil {
  display: inline-block;
  padding: 30px 50px;
}

.struktur-pp-wakil img {
  border-radius: 50%;
  height: 145px;
  width: 145px;
  /* box shadow */
  box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.36);
  /* box shadow*/
}

.pp-detail p {
  font-size: 1.2rem;
  letter-spacing: -1px;
  padding: 2px 0;
  font-family: poppins;
  font-weight: 400;
}

.pp-detail h2 {
  font-size: 1.2rem;
  font-family: Uchen;
  margin-bottom: -12px;
  font-weight: 500;
  letter-spacing: -2px;
}

#role-name-bg {
  border: 2px solid rgb(255, 255, 255);
  width: 140px;
  height: 65px;
  margin: 10px auto;
  border-radius: 5px;
}

.role-bg {
  background-color: white;
}

.name-bg {
  margin: 10px 2px 2px 2px;
}

.wa-detail a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
}

.wa-detail img {
  height: 25px;
  width: 25px;
  margin: 5px;
}

.cvw-bg {
  display: flex;
  background-color: #17762e;
  color: rgb(237, 220, 201);
  justify-content: center;
  align-items: center;
  padding: 0 8px 0 0;
  border-radius: 10px;
  font-size: .80rem;
  font-family: poppins;
  height: 30px;
  width: 140px;
}

.cvw-bg:hover {
  color: white;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.664);
}