footer {
  font-size: 1.1rem;
  font-family: poppins;
  width: fit-content;
  margin: auto;
  padding: 50px;
}

#footer-style {
  border: 2px solid black;
  /* height: 40px; */
  height: fit-content;
  align-content: center;
  border-radius: 5px;
  overflow: hidden;
}

.design-text {
  background: rgba(255, 255, 255, 0.705);
  padding: 0 10px;
  font-style: italic;
  letter-spacing: -1px;
}

.footer-name {
  font-weight: 600;
}

.footer-text {
  background-color: black;
  color: white;
  padding: 1px 8px;
  font-weight: 400;
  /* border-radius: 4px 0 0 4px; */
}