footer {
  font-family: poppins;
  font-weight: 300;
}

#footer-style {
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.design-text {
  background: rgba(255, 255, 255, 0.705);
  padding: 5px 10px;
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.footer-name {
  font-weight: 600;
}

.footer-text {
  background-color: black;
  color: white;
  padding: 11px;
  font-weight: 400;
  font-size: 1.2rem;
}

@media only screen and (min-width: 320px) and (max-width: 486px) {

  .design-text,
  .footer-text {
    font-size: .8rem;
    padding: 10px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 319px) {

  .design-text,
  .footer-text {
    font-size: .7rem;
    padding: 10px;
  }
}