@import url('/src/components/Header/header.css');
@import url('/src/components/Footer/footer.css');
@import url('/src//pages//Beranda/beranda.css');
@import url('/src/pages/Galeri/galeri.css');
@import url('/src/pages/StrukturOrganisasi/strukturOrganisasi.css');
@import url('/src/components/LoginForm/loginForm.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #F5F5F5;
  height: 100%;
}