.image-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin: auto;
  height: 89vh;
}

.image-container img {
  display: block;
  min-width: 40%;
  min-height: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 75px 0;
}

.welcome-text {
  font-size: 1.3rem;
  color: black;
  font-style: italic;
  padding: 0 80px;
  text-align: center;
  font-family: 'poppins', Courier, monospace;
}

.pengurus-text {
  padding-top: 10px;
  font-size: 1.1rem;
  color: black;
  text-align: center;
}

@media screen and (max-width: 880px) {

  .image-container img {
    padding: 0 15px;
    /* width: 100%; */
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
  }

  .image-container {
    height: 100%;
    margin-top: 50px;
    padding: auto;
  }

  .welcome-text {
    font-size: 1.1rem;
    color: black;
    padding: 0 45px;
  }

  .pengurus-text {
    font-size: .9rem;
    color: black;
  }

  .welcome-text,
  .pengurus-text {
    font-family: 'poppins', Segoe UI, Tahoma;
  }
}